* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #eff3f7;
  height: 100%;
}

.inner {
  width: 1440px;
  margin: 0 auto;
}

section {
  min-height: calc(100vh - 60px);
  padding-top: 100px;
  background: #000;

  h1 {
    color: #fff;
    font-size: 2em;
    text-align: center;
  }
}
.genre,
.movies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.movies {
  width: 100vw;
  height: calc(100vh - 60px);
  position: fixed;
  top: 60px;
  left: 0;
  perspective: 1300px;
  background-color: #000;
}
.movies-wrap {
  width: 300px;
  height: 470px;
  position: absolute;
  top: 5%;
  left: 40%;
  transform: translateX(-40%);
  transform-style: preserve-3d;
  animation: ani linear 30s infinite;
}
.movie {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 48%;
  max-height: 350px;
  padding: 20px;
  margin-bottom: 50px;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 15px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.03);

  img {
    height: 310px;
    margin-right: 30px;
  }
  .text {
    width: 65%;
    height: 240px;
    padding-right: 10px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  h2 {
    margin-top: 0;
  }
  a {
    color: #444;
    text-decoration: none;
  }
  ul {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    bottom: 20px;
  }
  li {
    padding-right: 20px;
  }
}

.movies-wrap > :nth-child(1) {
  transform: rotateY(0deg) translateZ(-1200px);
}

.movies-wrap > :nth-child(2) {
  transform: rotateY(30deg) translateZ(-1200px);
}

.movies-wrap > :nth-child(3) {
  transform: rotateY(60deg) translateZ(-1200px);
}

.movies-wrap > :nth-child(4) {
  transform: rotateY(90deg) translateZ(-1200px);
}

.movies-wrap > :nth-child(5) {
  transform: rotateY(120deg) translateZ(-1200px);
}

.movies-wrap > :nth-child(6) {
  transform: rotateY(150deg) translateZ(-1200px);
}

.movies-wrap > :nth-child(7) {
  transform: rotateY(180deg) translateZ(-1200px);
}
.movies-wrap > :nth-child(8) {
  transform: rotateY(210deg) translateZ(-1200px);
}
.movies-wrap > :nth-child(9) {
  transform: rotateY(240deg) translateZ(-1200px);
}

.movies-wrap > :nth-child(10) {
  transform: rotateY(270deg) translateZ(-1200px);
}
.movies-wrap > :nth-child(11) {
  transform: rotateY(300deg) translateZ(-1200px);
}
.movies-wrap > :nth-child(12) {
  transform: rotateY(330deg) translateZ(-1200px);
}

@keyframes ani {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
